*.img
*.py[cod]
*.key
*.crt
*.egg-info/
.DS_Store
.mypy_cache/
.pytest_cache/
.ansible/
.tox/
.venv/
__pycache__/
build/
cloud-init/temp/
dist/
docs/_build/
docs/_generated/
inventories/**/group_vars/all/secrets.yml
my.log
