---
- name: Include role vars
  include_vars: "{{ role_path }}/files/vars.yml"

- name: Set deployment task file
  set_fact:
    deployment_file: "{{(role_path ~ '/tasks/container-deployment.yml' if deployment_method in ['docker', 'podman'] else role_path ~ '/tasks/conda-deployment.yml' if deployment_method == 'conda' else 'k8s-deployment.yml') | trim}}"
    play_file: "{{('k8s-deployment.yml' if deployment_method == 'k8s' else role_path ~ '/tasks/systemd-based.yml') | trim}}"

- name: Playing {{ deployment_method }} deployment
  include_tasks: "{{ play_file | trim }}"
  when: deployment_method != "k8s"

- name: Playing {{ deployment_method }} deployment
  include_tasks: "{{ play_file | trim }}"
  when: deployment_method == "k8s"
  loop: "{{ service_settings }}"
  loop_control:
    loop_var: svc
  vars:
    service: "{{ svc.name }}"
    env_vars: "{{ svc.env_vars }}"
    image: "{{ svc.image }}"
    service_port: "{{ svc.service_port }}"
    workload_kind: "{{ svc.workload_kind }}"
