---
- name: Ensure target directory exists
  file:
    path: "{{ base_path }}/{{ project_name }}/k8s"
    state: directory
    mode: "0755"
    owner: "{{ uid }}"
    group: "{{ gid }}"

- name: Render Kubernetes manifest for {{ service }}
  template:
    src: service-k8s.yaml.j2
    dest: "{{ base_path }}/{{ project_name }}/k8s/{{ service }}-k8s.yaml"
    mode: "0644"
    owner: "{{ uid }}"
    group: "{{ gid }}"
  vars:
    ansible_managed: false

- name: Deploy service
  when: not config_only
  block:

    - name: Deploy resources to Kubernetes for {{ service }}
      kubernetes.core.k8s:
        state: present
        src: "{{ base_path }}/{{ project_name }}/k8s/{{ service }}-k8s.yaml"
        namespace: "{{ project_name }}"
        apply: true
        wait: false

    - name: Wait until Deployment is Available
      kubernetes.core.k8s_info:
        api_version: apps/v1
        kind: Deployment
        name: "{{ project_name }}-{{ service | replace('_','-') }}"
        namespace: "{{ project_name }}"
      register: dep_info
      until: >
        dep_info.resources | length > 0 and
        (dep_info.resources[0].status.availableReplicas | default(0)) | int >= 1
      retries: 40
      delay: 5

    - name: Get Deployment info
      kubernetes.core.k8s_info:
        api_version: apps/v1
        kind: Deployment
        name: "{{ project_name }}-{{ service | replace('_','-')}}"
        namespace: "{{ project_name }}"
      register: dep_info

    - name: Get Pods for app
      kubernetes.core.k8s_info:
        api_version: v1
        kind: Pod
        namespace: "{{ project_name }}"
        label_selectors:
          - "app={{ project_name }}-{{ service | replace('_','-')}}"
      register: pod_info

    - name: Show pod phases
      ansible.builtin.debug:
        msg: >-
          {{ pod_info.resources | map(attribute='metadata.name') | list }}
          phases={{ pod_info.resources | map(attribute='status.phase') | list }}

    - name: Get logs of first pod (if exists)
      kubernetes.core.k8s_log:
        namespace: "{{ project_name }}"
        name: "{{ (pod_info.resources | first).metadata.name }}"
        tail_lines: 200
      when: pod_info.resources | length > 0
      register: pod_logs

    - name: Print logs
      ansible.builtin.debug:
        var: pod_logs.log
      when: pod_info.resources | length > 0

    - name: Show Service status
      kubernetes.core.k8s_info:
        api_version: v1
        kind: Service
        name: "{{ project_name }}-{{ service | replace('_','-')}}"
        namespace: "{{ project_name }}"
      register: svc_info

    - name: Print Service endpoints
      ansible.builtin.debug:
        msg:
          - "Type: {{ svc_info.resources[0].spec.type }}"
          - "ClusterIP: {{ svc_info.resources[0].spec.clusterIP | default('') }}"
          - "LB: {{ svc_info.resources[0].status.loadBalancer.ingress | default([]) }}"
          - "Ports: {{ svc_info.resources[0].spec.ports }}"
