---
- name: Ensure nginx and stream module are installed
  ansible.builtin.package:
    name: "{{ nginx_packages }}"
    state: present
  vars:
    nginx_packages: >
      {{
        ['nginx', 'nginx-mod-stream'] if ansible_os_family in ['RedHat', 'Archlinux'] else
        ['nginx', 'libnginx-mod-stream'] if ansible_os_family == 'Debian' else
        ['nginx']
      }}

- name: Create reverse proxy config directory
  file:
    path: "{{ base_path }}/{{ project_name }}/k8s-reverse-proxy"
    state: directory
    mode: "0755"
    recurse: true
    setype: "{{ 'httpd_config_t' if ansible_selinux.status == 'enabled' else omit }}"

- name: Ensure the user systemd directory exists
  file:
    path: "{{ systemd_unit_dir }}"
    state: directory
    mode: "0755"
  when: systemd_unit_dir is defined

- name: Gather node info
  kubernetes.core.k8s_info:
    kind: Node
  register: k8s_node_info

- name: Set node IP
  set_fact:
    k8s_node_ip: >-
      {{ k8s_node_info.resources[0].status.addresses
         | selectattr('type', 'equalto', 'InternalIP')
         | map(attribute='address') | first }}

- name: Get service info
  kubernetes.core.k8s_info:
    kind: Service
    namespace: "{{ project_name }}"
    name: "{{ service }}"
  register: k8s_service_info

- name: debug
  debug:
    msg: "{{ k8s_node_ip }} {{ k8s_service_info }}"


- name: Set node port fact
  set_fact:
    node_port: "{{ k8s_service_info.resources[0].spec.ports[0].nodePort }}"

- name: Ensure reverse proxy path exists
  file:
    path: "{{ base_path }}/{{ project_name }}/k8s-reverse-proxy"
    state: directory
    mode: "0755"

- name: Write Nginx reverse proxy config for {{ service }}
  template:
    src: k8s-reverse-proxy.conf.j2
    dest: "{{ base_path }}/{{ project_name }}/k8s-reverse-proxy/{{ service }}.conf"
    mode: "0644"
    setype: "{{ 'httpd_config_t' if ansible_selinux.status == 'enabled' else omit }}"

- name: Write Nginx systemd service for {{ service }}
  template:
    src: reverse-proxy-nginx.service.j2
    dest: "{{systemd_unit_dir}}/nginx-{{ service }}.service"
    mode: "0644"
  vars:
    nginx_config_path: "{{ base_path }}/{{ project_name }}/k8s-reverse-proxy/{{ service }}.conf"

- name: Enable and start Nginx reverse proxy for {{ service }}
  systemd:
    name: "nginx-{{ service }}.service"
    enabled: true
    state: started
    scope: "{{ 'system' if ansible_become is true else 'user'}}"
