{%- set ns = project_name -%}
---
apiVersion: v1
kind: Secret
metadata:
  name: freva-secrets
  namespace: {{ ns }}
type: Opaque
stringData:
  MYSQL_ROOT_PASSWORD: "{{ root_passwd }}"
  MYSQL_PASSWORD: "{{ db_passwd }}"
  REDIS_USERNAME: "{{ redis_username }}"
  REDIS_PASSWORD: "{{ redis_password }}"
  OIDC_CLIENT_SECRET: "{{ freva_rest_oidc_client_secret }}"
  FREVA_REST_DB_USER: "{{ freva_rest_db_user }}"
  FREVA_REST_DB_PASSWORD: "{{ freva_rest_db_passwd }}"
  MONGO_APP_USER: "{{ mongodb_server_db_user }}"
  MONGO_APP_PASSWORD: "{{ mongodb_server_db_passwd }}"
