{%- set ns = project_name -%}
{% for pvc in pvcs %}
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: "{{ pvc['name'] }}"
  namespace: "{{ ns }}"
  labels:
    app.kubernetes.io/name: "{{ ns }}"
    app.kubernetes.io/instance: "{{ pvc['instance'] }}"
    app.kubernetes.io/component: "{{ pvc['component'] }}"
    freva.org/tier: "{{ pvc['tier'] }}"
spec:
  accessModes: ["{{ pvc['mode'] }}"]
  resources:
    requests:
      storage: {{ pvc['storage'] | tojson }}
{% endfor %}
