{%- set ns = project_name -%}
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata: { name: db-data, namespace: {{ ns }} }
spec:
  accessModes: ["ReadWriteOnce"]
  resources: { requests: { storage: {{ mysql_pvc_size | tojson }} } }
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata: { name: db-logs, namespace: {{ ns }} }
spec:
  accessModes: ["ReadWriteOnce"]
  resources: { requests: { storage: {{ mysql_logs_pvc_size | tojson }} } }
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata: { name: mongo-data, namespace: {{ ns }} }
spec:
  accessModes: ["ReadWriteOnce"]
  resources: { requests: { storage: {{ mongo_pvc_size | tojson }} } }
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata: { name: mongo-logs, namespace: {{ ns }} }
spec:
  accessModes: ["ReadWriteOnce"]
  resources: { requests: { storage: {{ mongo_logs_pvc_size | tojson }} } }
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata: { name: solr-data, namespace: {{ ns }} }
spec:
  accessModes: ["ReadWriteOnce"]
  resources: { requests: { storage: {{ solr_pvc_size | tojson }} } }
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata: { name: solr-logs, namespace: {{ ns }} }
spec:
  accessModes: ["ReadWriteOnce"]
  resources: { requests: { storage: {{ solr_logs_pvc_size | tojson }} } }
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata: { name: web-config, namespace: {{ ns }} }
spec:
  accessModes: ["ReadWriteOnce"]
  resources: { requests: { storage: {{ web_cfg_pvc_size | tojson }} } }
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata: { name: web-logs, namespace: {{ ns }} }
spec:
  accessModes: ["ReadWriteOnce"]
  resources: { requests: { storage: {{ web_logs_pvc_size | tojson }} } }
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata: { name: freva-rest-logs, namespace: {{ ns }} }
spec:
  accessModes: ["ReadWriteOnce"]
  resources: { requests: { storage: {{ rest_logs_pvc_size | tojson }} } }
