{%- set ns = project_name -%}
---
apiVersion: v1
kind: Service
metadata: { name: mongo-server, namespace: {{ ns }} }
spec:
  type: ClusterIP
  selector: { app: mongo-server }
  ports: [{ port: 27017, targetPort: 27017, name: mongo }]
---
apiVersion: apps/v1
kind: StatefulSet
metadata: { name: mongo-server, namespace: {{ ns }} }
spec:
  serviceName: mongo-server
  replicas: 1
  selector: { matchLabels: { app: mongo-server } }
  template:
    metadata: { labels: { app: mongo-server } }
    spec:
      securityContext: { fsGroup: {{ fs_group }} }
      containers:
        - name: mongodb
          image: ghcr.io/freva-org/freva-mongo:{{ mongodb_server_version }}
          imagePullPolicy: {{ image_pull_policy }}
          ports: [{ containerPort: 27017, name: mongo }]
          env:
            - name: API_MONGO_USER
              valueFrom: { secretKeyRef: { name: freva-secrets, key: MONGO_APP_USER } }
            - name: API_MONGO_PASSWORD
              valueFrom: { secretKeyRef: { name: freva-secrets, key: MONGO_APP_PASSWORD } }
            - { name: API_MONGO_DB, value: "search_stats" }
          volumeMounts:
            - { name: mongo-data, mountPath: /data/db }
            - { name: mongo-logs, mountPath: /data/logs }
      volumes:
        - name: mongo-data
          persistentVolumeClaim: { claimName: mongo-data }
        - name: mongo-logs
          persistentVolumeClaim: { claimName: mongo-logs }
