{%- set ns = project_name -%}
---
apiVersion: batch/v1
kind: Job
metadata: { name: web-prep, namespace: {{ ns }} }
spec:
  template:
    metadata: { labels: { app: web-prep } }
    spec:
      restartPolicy: OnFailure
      containers:
        - name: curl-writer
          image: quay.io/curl/curl:latest
          env:
            - { name: VAR1_B64, value: "{{ eval_config_content }}" }
            - { name: VAR2_B64, value: "{{ web_config_content }}" }
            - { name: FREVA_CONFIG, value: "/config" }
          volumeMounts:
            - { name: web-config, mountPath: /config }
          command:
            - sh
            - -c
            - curl -Ssl https://raw.githubusercontent.com/freva-org/freva-admin/refs/heads/main/assets/share/freva/deployment/scripts/write-config.sh | sh
      volumes:
        - name: web-config
          persistentVolumeClaim: { claimName: web-config }
