{%- set ns = project_name -%}
{%- if ingress_enabled and ingress_fqdns | length > 0 -%}
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: freva-web
  namespace: {{ ns }}
  annotations:
    kubernetes.io/ingress.class: "{{ ingress_class_name }}"
spec:
  ingressClassName: "{{ ingress_class_name }}"
  tls:
    - secretName: {{ ingress_tls_secret_name }}
      hosts:
{% for h in ingress_fqdns %}
        - {{ h }}
{% endfor %}
  rules:
{% for h in ingress_fqdns %}
    - host: {{ h }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: web-reverse-proxy
                port: {number: 80}
{%  endfor %}
{%- endif -%}
