{%- set deployment = project_name ~ '-' ~ (service | replace('_','-')) -%}
---
{% if secret_keys %}
apiVersion: v1
kind: Secret
metadata:
  name: {{ deployment }}-env
  namespace: {{ project_name }}
type: Opaque
stringData:
{% for k in secret_keys | sort %}
  {{ k }}: "{{ env_vars[k] }}"
{% endfor %}
{% endif %}
