[Unit]
Description={{ quadlet_container.description }}
{% if quadlet_container.requires | default([]) -%}
After={% for dependency in quadlet_container.requires %}{{ dependency }}.container{% if not loop.last %} {% endif %}{% endfor %}
Requires={% for dependency in quadlet_container.requires %}{{ dependency }}.container{% if not loop.last %} {% endif %}{% endfor %}
{% endif %}

[Container]
Image={{ quadlet_container.image }}
ContainerName={{ quadlet_container.container_name | default(quadlet_container.name) }}
HostName={{ quadlet_container.hostname | default(quadlet_container.name) }}
Pull={{ quadlet_container.pull | default('newer') }}
{% if quadlet_container.user | default('') -%}
User={{ quadlet_container.user }}
{% endif -%}
{% if quadlet_container.environment | default({}) -%}
EnvironmentFile={{ quadlet_env_dir }}/{{ quadlet_container.name }}.env
{% endif -%}
{% for environment_file in quadlet_container.environment_files | default([]) -%}
EnvironmentFile={{ environment_file }}
{% endfor -%}
EnvironmentFile={{ quadlet_env_dir }}/{{ quadlet_container.name }}.local.env
{% for capability in quadlet_container.capabilities | default([]) -%}
AddCapability={{ capability }}
{% endfor -%}
{% for nameserver in quadlet_container.dns | default([]) -%}
DNS={{ nameserver }}
{% endfor -%}
{% if quadlet_container.network | default('') -%}
Network={{ quadlet_container.network }}.network
{% endif -%}
{% for alias in quadlet_container.network_aliases | default([]) -%}
NetworkAlias={{ alias }}
{% endfor -%}
{% for port in quadlet_container.ports | default([]) -%}
PublishPort={{ port }}
{% endfor -%}
{% for volume in quadlet_container.volumes | default([]) -%}
Volume={{ volume }}
{% endfor -%}
{% for argument in quadlet_container.podman_args | default([]) -%}
PodmanArgs={{ argument }}
{% endfor -%}

[Service]
Restart=on-failure
RestartSec=5
TimeoutStartSec=900

[Install]
WantedBy={{ quadlet_wanted_by }}
