{% if service_name is defined %}
# Environment files for {{ service_name }}
{% else %}
# Environment files for freva service
{% endif %}

{% if _web_env_vars is defined and _web_env_vars %}
{% for key, value in _web_env_vars | dictsort %}
{{ key }}={{ value }}
{% endfor %}
{% else %}
# No environment variables defined
{% endif %}
