
services:
  {{web_proxy_name}}:
    user: root:0
    image: ghcr.io/freva-org/freva-nginx:{{ proxy_version or "latest" }}
    container_name: {{web_proxy_name}}
    hostname: {{web_proxy_name}}
    volumes:
        - django-static:/srv/static:z
        - logs:/data/logs:z
    environment:
        - SERVER_ROOT=/srv/static
        - VAULT_HOST={{ web_vault_host.replace("http://", "") }}:5002
        - FREVA_MAINTENANCE_MODE=1
        - FREVA_REST_HOST={{ web_freva_rest_host.replace("http://", "") }}
        - EVALUATION_SYSTEM_CONFIG_FILE={{ core_root_dir|regex_replace('^~', ansible_facts.env.HOME) }}/freva/evaluation_system.conf
        - CHATBOT_HOST={{ web_chatbot_host.replace("http://", "") }}
        - WEB_SERVER_NAME={{ web_name }}
        - WEB_SERVER_PORT=8000
        - SERVER_CERT={{ web_cert_content }}
        - SERVER_KEY={{ web_key_content }}
        - REST_PROXY_HOST_NAME={{ web_chatbot_rest_api_url }}
        - FILL_COLOR={{ web_main_color }}
        - PROXY_DNS={{ current_nameservers | default('8.8.8.8') }}
{% if (ansible_become == true and ansible_become_user == 'root') or ansible_user == 'root' %}
        - PROXY_USER=nobody
{% else %}
        - PROXY_USER=root
{% endif %}
        - PROJECT_NAME={{ project_name }}
        - PORT_HTTPSD={{ web_port_httpsd }}
        - WEB_HOST={{ web_project_website.replace("http://", "").replace("https://", "").replace("www.","")  }}
    ports:
      - {{web_port_httpd}}:{{web_port_httpd}}
      - {{web_port_httpsd}}:{{web_port_httpsd}}

networks:
  {{web_name}}:
    driver: bridge
    enable_ipv6: true

volumes:
    django-static:
    logs:
