SEMAPHORE_DB_DIALECT=sqlite
SEMAPHORE_ADMIN=admin
SEMAPHORE_ADMIN_NAME=Semaphore Administrator
SEMAPHORE_ADMIN_EMAIL=admin@example.org
SEMAPHORE_ADMIN_PASSWORD_FILE=/run/secrets/admin-password
SEMAPHORE_ACCESS_KEY_ENCRYPTION_FILE=/run/secrets/access-key-encryption
SEMAPHORE_REPOS_DIR=/var/lib/semaphore/repositories
SEMAPHORE_TMP_PATH=/tmp/semaphore
SEMAPHORE_MAX_PARALLEL_TASKS=1
SEMAPHORE_MAX_TASKS_PER_TEMPLATE=25
